body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f9fb;
  margin: 0;
  padding: 0;
  color: #333;
  align-items:center;
  justify-content: center;
}
header {
  background-color: #3d6eda;
  color: white;
  padding: 1rem;
  height: 120px;
}
.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}
.logo {
  position: absolute;
  left: 0;
  height: 200px;
  margin-left: 5px;
  margin-top: 35px;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
}

.main-nav {
  margin-top: 27px;
  text-align: center;
}

.main-nav a {
  background-color: #7d9cde;
  color: white;
  margin: 0 8px 0 8px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: normal;
  font-size: 17px;
  padding: 5px;
}

.main-nav a:hover {
  background-color: #e0efff;
  color: black;
  border-radius: 4px;
  font-weight: normal;
}

.section1 {
  background-color: #e0efff;
  padding: 10px;
  text-align: center;
  height: 70px;
  line-height: 12px;
  
}

.section2 {
  padding: 2rem;
  text-align: center;
}

.section2-box {
  background-color: #e5e5e5; /* light gray */
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  width: 600px;
  margin: auto;
  letter-spacing: 1px;
  line-height: 35px;
  box-shadow: 3px 3px 8px 8px grey;
}

.section2-box ul {
  list-style-type: none;
  padding-left: 0;
}

.section2-box li {
  margin: 0.5rem 0;
}


.section1 h3 {
  margin-top: 12px;
}



section h3{
  line-height: 20px;
}


.section3 {
  background-color: #f5f7fa;
  padding: 1rem;
  text-align: center;
}

.section3-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 100px;
}

.section3-card {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  max-width: 280px;
  flex: 1 1 250px;
  line-height: 30px;
}

.section3-card h4 {
  margin-bottom: 0.5rem;
  color: #3d6eda;
}
.aboutheader{
  margin-bottom: -7px;
  margin-top: 3px;
}

.section1about {
  background-color: #e0efff;
  padding: 8px;
  text-align: center;
  height: 80px;
  line-height: 24px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: .5rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
